* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: white;
  background-color: #321b1b;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-logo {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 90px;
  height: 90px;
}

/* Lista de tareas */

.lista-tareas-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 30px;
}